[defaults]
host_key_checking = True
retry_files_enabled = False
interpreter_python = auto_silent
display_args_to_stdout = False

[ssh_connection]
ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s -o ForwardAgent=no -o IdentitiesOnly=yes
